# Python venv
.venv/
ironvenv/
ironenv/

# IDE editor settings
.vscode/
.idea/

# Build artifacts
build/
cmake-build-*/

# OS cruft
.DS_Store
Thumbs.db

# Keep gitignore itself and workflows
!.gitignore
!.github/