# Python venv
.venv/
ironvenv/
ironenv/

# IDE editor settings
.vscode/
.idea/

# Build artifacts
build/
cmake-build-*/

# OS cruft
.DS_Store
Thumbs.db

# Workflow files
.pre-commit-config.yaml

# Keep gitignore itself and workflows
!.gitignore
!.github/

# Git backup (temporarily added to gitignore)
.git.bak

# Misc. files
CMakePresets.json.bak
imgui.ini